a{color:black ;
font-size: 12px;

float: left;
width: calc(50% - 10px);
}

head{
    border-bottom:  solid 1px;  /* 枠線指定 */
    padding:  10px;   /* 余白指定 */
  color:green
}
footer {
    border-top: solid 1px;      /* 枠線指定 */
    padding:  10px;             /* 余白指定 */
}

main {
    padding:  20px;             /* 余白指定 */
    height:  300px;             /* 高さ指定 */
}
